.loreacle-page-container {
    display: flex;
    flex-direction: column;
}

.loreacle-page-messages {
    padding-bottom: 8px;
}

.loreacle-page-input {
    position: sticky;
    bottom: 0;
    background-color: var(--mud-palette-background);
    z-index: 10;
    border-top: 1px solid var(--mud-palette-divider);
}
